.content {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 20px;

    .submissions {
        .list {
            max-height: 80%;
            overflow: scroll;
            width: 100%;

            ul {
                list-style-type: none;
                display: contents;

                li {
                    padding: 15px 10px;
                    border-bottom: solid #DEE2E6 1px;
                }

                .selected {
                    background-color: rgba(247, 247, 248, 1);
                }

                li:hover {
                    cursor: pointer;
                }

                li.more {
                    border: none;
                    display: flex;
                    justify-content: center;

                    button.btn {
                        font-weight: 600;
                        gap: 10px;
                        svg{
                            stroke-width: 2.5;
                        }
                    }
                }
            }
        }
    }
}