.content {
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 20px;

    .submissions {
        ul {
            list-style-type: none;
            display: contents;

            li {
                padding: 15px 10px;
                border-bottom: solid #DEE2E6 1px;
            }

            .selected {
                background-color: rgba(247, 247, 248, 1);
            }

            li:hover {
                cursor: pointer;
            }
        }
    }
}