.App {

    // font-family: Roboto;


}

.pages {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 2fr 9fr;
    gap: 40px;

    .navbar {
        padding-top: 20px;
    }

    .page {
        padding-top: 20px;
        padding-right: 15px;
    }
}